.play_icons {
    padding: 15px;
    background-color: #fff;
    border: 20px solid;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.rock_icon {
    border-color: hsl(349, 71%, 52%);
}

.paper_icon {
    border-color: hsl(230, 89%, 62%);
}

.scissor_icon {
    border-color: hsl(39, 89%, 49%);
}