@import "https://fonts.google.com/specimen/Barlow+Semi+Condensed";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at center,hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding-top: 5%;
}
